body{
	background-image: url(flower.jpg);
	background-size: cover;
}
h1{

	text-align:center;
	border: 3px dashed lightgreen;
	background: yellow;
}
Li{
	border: 2px solid black;
	background: lightpink;
	text-align: center;
}
.h1{
	 border: 3px solid lightgreen;
	 text-align: center;
	 background: lightblue;
}
#div1{
	background-color: gold;
}
#div2{
	border: 3px dashed green;
	background: lightgreen;
}
h2{
	text-align: center;
}
.img{
	text-align: center;
	
}
