body{
	background-image: url(cssback.jpg);
	background-size: cover;
}
h1{
	font-size: 50px;
  text-align: center;
  border: 3px solid rgb(250, 100, 300);
  background-color: yellow;

}
a{
	font-weight: bold;
	color: black;
	
}
p1{
	color: purple;
}
p2{
	color: purple;
}
p3{
	color: purple;
}